@namespace iRacingTimings.Shared.Components

@inherits MenuBarBase

<CascadingValue Value="@this">
    <div class="@ClassMapper.AsString()" @ref="Ref" style="@StyleMapper.AsString()">
        @ChildContent
    </div>
</CascadingValue>