@namespace iRacingTimings.Shared.Components

@inherits MenuBarButtonBase

<CascadingValue Value="@this">
    <div class="@ClassMapper.AsString()" @onclick="OnClickHandler"  style="@StyleMapper.AsString()">
        @ChildContent
    </div>
</CascadingValue>
