/// <reference path="../_colors.scss" />

.menu-bar {
    display: flex;
    flex-shrink: 1;
    box-sizing: border-box;
    height: 30px;
    overflow: hidden;
    flex-wrap: wrap;
    color: $forecolor;
    font: 12px/32px "Segoe UI", Arial, sans-serif;

    > .menu-bar-button {
        color: $forecolor;
        align-items: center;
        box-sizing: border-box;
        padding: 0 8px;
        cursor: default;
        zoom: 1;
        white-space: nowrap;
        outline: 0;
        line-height: 30px;


        &:hover {
            background-color: rgba(255,255,255,.1);
            color: $highlight;
        }

        &.open {
            background-color: rgba(255,255,255,.1);
            color: $highlight;
        }
    }

    .menu-bar-submenu {
        background-color: $background;
        position: absolute;
        border: 1px solid $forecolor;
        min-width: 150px;
        filter: drop-shadow(0, 4px, 0.75rem, $background);

        > .menu-bar-button {
            padding: 0 24px;

            &:hover {
                background-color: rgba(255,255,255,.1);
                color: $highlight;
            }
        }
    }

    .menu-bar-divider {
        height: 1px;
        margin-left: 20px;
        margin-right: 4px;
        border-bottom:1px solid darkgrey;
    }
}
