
@font-face {
    font-family: BentonSans-Medium;
    src: url('../fonts/BentonSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: BentonSans-Regular;
    src: url('../fonts/BentonSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: BentonSans-CondensedRegular;
    src: url('../fonts/BentonSans-CondensedRegular.ttf') format('truetype');
}

@font-face {
    font-family: GothicA1-Black;
    src: url('../fonts/gothic-a1-black.ttf') format('truetype');
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('../fonts/source-sans-pro-regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/roboto-bold.ttf') format('truetype');
}

@font-face {
    font-family: Mittleshrift-Regular;
    src: url('../fonts/mittleschrift-regular.ttf') format('truetype');
}

@font-face {
    font-family: Mittleshrift-Thin;
    src: url('../fonts/mittleschrift-thin.ttf') format('truetype');
}

@font-face {
    font-family: ChangaOne-Italic;
    src: url('../fonts/changa-one-italic.ttf') format('truetype');
}

@font-face {
    font-family: Poppins-MediumItalic;
    src: url('../fonts/Poppins-MediumItalic.ttf') format('truetype');
}
