.overlay > .admin-message {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 200px;
  text-align: center;
  vertical-align: middle;
  font-family: BentonSans-Medium;
  font-size: 50px;
  color: red; }
  .overlay > .admin-message.hide {
    display: none; }

.overlay > .logo {
  position: absolute;
  top: 20px;
  right: 20px;
  overflow: hidden;
  transition: opacity 0.3s; }
  .overlay > .logo.hide {
    opacity: 0; }

.layout > .replay-state {
  position: absolute;
  left: 20px;
  top: 20px;
  background: rgba(40, 40, 40, 0.75);
  color: white;
  font-family: BentonSans-Medium;
  font-size: 19px;
  letter-spacing: +2px;
  padding-left: 1.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 1.4em;
  animation-name: replay-blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transition: opacity 0.3s;
  display: block; }
  .layout > .replay-state.hide {
    display: block;
    opacity: 0; }

.overlay > .state-header {
  position: relative;
  left: 20px;
  top: 20px;
  overflow: hidden;
  transition: opacity 0.3s; }
  .overlay > .state-header > .container {
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: BentonSans-Medium;
    font-size: 19px;
    letter-spacing: +1px;
    padding: 0.2em 0.4em 0.2em 0.4em;
    overflow: hidden;
    transition: transform 0.3s ease-out, opacity 0.2s ease-in-out 0.1s;
    text-shadow: 0.3px 0.3px 0.3px #222, 0.3px -0.3px 0.3px #222, -0.3px 0.3px 0.3px #222, -0.3px -0.3px 0.3px #222; }
    .overlay > .state-header > .container > .flag-wrapper-9x5 {
      overflow: hidden;
      float: left;
      width: 0;
      transition: all 0.5s; }
      .overlay > .state-header > .container > .flag-wrapper-9x5 > .flag-9x5 {
        overflow: hidden;
        width: 28px;
        float: right;
        height: 16px;
        margin-top: 3px;
        margin-bottom: 3px; }
    .overlay > .state-header > .container > .type {
      float: left;
      white-space: pre;
      transition: transform 0.3s 0.15s; }
    .overlay > .state-header > .container > .laps {
      float: left;
      white-space: pre;
      transition: transform 0.3s 0.1s; }
    .overlay > .state-header > .container > .time {
      float: left;
      white-space: pre;
      transition: transform 0.3s 0.05s; }
  .overlay > .state-header.show-checkered-flag > .container > .flag-wrapper-9x5 > .flag-9x5 {
    background: url("../img/flags/chequered.svg") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat; }
  .overlay > .state-header.show-checkered-flag > .container #flagWrapper1, .overlay > .state-header.show-checkered-flag > .container #flagWrapper2 {
    width: 28px;
    margin-left: 5px;
    margin-right: 5px; }
  .overlay > .state-header.show-white-flag > .container > .flag-wrapper-9x5 > .flag-9x5 {
    background: url("../img/flags/white.svg") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat; }
  .overlay > .state-header.show-white-flag > .container #flagWrapper1, .overlay > .state-header.show-white-flag > .container #flagWrapper2 {
    width: 28px;
    margin-left: 5px;
    margin-right: 5px; }
  .overlay > .state-header.show-full-course-yellow-flag > .container > .flag-wrapper-9x5 > .flag-9x5, .overlay > .state-header.show-yellow-flag > .container > .flag-wrapper-9x5 > .flag-9x5 {
    background: url("../img/flags/yellow.svg") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat; }
  .overlay > .state-header.show-full-course-yellow-flag > .container #flagWrapper1, .overlay > .state-header.show-full-course-yellow-flag > .container #flagWrapper2, .overlay > .state-header.show-yellow-flag > .container #flagWrapper1, .overlay > .state-header.show-yellow-flag > .container #flagWrapper2 {
    width: 28px;
    margin-left: 5px;
    margin-right: 5px; }
  .overlay > .state-header.hide {
    opacity: 0; }
    .overlay > .state-header.hide > .container {
      transform: translateX(-600px);
      transition: transform 0.3s ease-in 0.2s, opacity 0.2s ease-in-out 0.4s; }
      .overlay > .state-header.hide > .container > .flag-wrapper-9x5 {
        transform: translateX(-150px);
        transition: transform 0.3s; }
      .overlay > .state-header.hide > .container .type {
        transform: translateX(-150px);
        transition: transform 0.3s 0.05s; }
      .overlay > .state-header.hide > .container .laps {
        transform: translateX(-100px);
        transition: transform 0.3s 0.1s; }
      .overlay > .state-header.hide > .container .time {
        transform: translateX(-50px);
        transition: transform 0.3s 0.15s; }

.overlay > .standings {
  background: transparent;
  color: white;
  font-family: BentonSans-Medium;
  font-size: 19px;
  position: relative;
  height: 80vh;
  white-space: nowrap;
  top: 25px;
  transition: opacity 0.3s; }
  .overlay > .standings > .driver-wrapper {
    position: absolute;
    top: 1px;
    left: 20px;
    transition: transform 0.2s linear; }
    .overlay > .standings > .driver-wrapper > .driver {
      height: 27px;
      background: rgba(0, 0, 0, 0.4);
      border-left: 2px solid rgba(0, 0, 0, 0.5);
      border-right: 2px solid rgba(0, 0, 0, 0.5);
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      background-clip: padding-box;
      overflow: hidden;
      transform: scale(0.7) translateX(30px);
      transition: transform 0.2s ease-out 0.2s, opacity 0.2s ease-in-out 0.1s;
      opacity: 0;
      text-shadow: 0.3px 0.3px 0.3px #222, 0.3px -0.3px 0.3px #222, -0.3px 0.3px 0.3px #222, -0.3px -0.3px 0.3px #222; }
      .overlay > .standings > .driver-wrapper > .driver > .position-wrapper {
        transition: transform 0.2s ease-in-out 0.1s, opacity 0.2s ease-in-out 0.1s;
        opacity: 0; }
        .overlay > .standings > .driver-wrapper > .driver > .position-wrapper > .position {
          transition: transform 0.2s ease-in-out; }
      .overlay > .standings > .driver-wrapper > .driver > .color-stripe {
        transition: transform 0.2s ease-in-out 0.1s, opacity 0.2s ease-in-out 0.1s;
        opacity: 0; }
      .overlay > .standings > .driver-wrapper > .driver > .container {
        display: inline-block;
        position: relative;
        overflow: hidden;
        height: 27px; }
        .overlay > .standings > .driver-wrapper > .driver > .container > .name-wrapper {
          display: inline-block;
          overflow: hidden;
          width: 185px;
          height: 27px;
          transform: translateX(-300px);
          transition: width 0.2s ease-in-out, transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
          padding-left: 8px;
          opacity: 0; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .name-wrapper > .name {
            display: inline-block;
            overflow: hidden;
            width: 500px;
            line-height: 29px;
            vertical-align: middle;
            letter-spacing: 1px;
            transform-origin: left; }
        .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper {
          display: inline-block;
          overflow: hidden;
          width: 0;
          height: 27px;
          line-height: 29px;
          transform: translateX(-300px);
          transition: width 0.2s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
          opacity: 0; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper > .data {
            overflow: hidden;
            vertical-align: middle;
            text-align: right;
            padding-right: 10px;
            float: right;
            white-space: pre; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper > .data2 {
            float: right; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper > .flag {
            width: 0;
            margin: -2px;
            height: 31px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: width 0.2s ease-out; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper > .joker {
            width: 0;
            margin: 2px;
            height: 23px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(images/joker.png);
            filter: brightness(1.5);
            transition: width 0.2s ease-out; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.joker-dimmed > .joker {
            filter: contrast(0.1); }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-interval.allow-data {
            width: 5em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-gap.allow-data {
            width: 5em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-gain > .data {
            text-align: left;
            width: 2.5em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-top-speed > data {
            float: right;
            width: 2.5em;
            padding-right: 7px; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-top-speed > .data2 {
            float: right;
            width: 3em;
            font-family: BentonSans-Regular;
            font-size: 16px; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-top-speed.allow-data {
            width: 6em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-pit-count > .data {
            float: right;
            width: 1.5em;
            padding-right: 7px; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-pit-count > .data2 {
            float: right;
            width: 4em;
            font-family: var(--regular-font);
            font-size: var(--small-font-size); }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-pit-count.allow-data {
            width: 5.5em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-last-lap-time.allow-data {
            width: 5.5em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-best-lap-time.allow-data {
            width: 5.5em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-car-logo > .car-logo {
            width: 24px;
            transition: width 0.2s ease-in 0.2s; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-car-logo.allow-data {
            width: 40px; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-flag > .flag {
            width: 40px;
            transition: width 0.2s ease-in 0.2s; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-flag.allow-data {
            width: 40px; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-joker > .joker {
            width: 40px;
            transition: width 0.2s ease-in 0.2s; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-joker.allow-data {
            width: 40px; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license > .data {
            width: 3.7em;
            font-size: 15px;
            text-shadow: none;
            line-height: 21px;
            border-radius: 2px;
            margin-top: 3px;
            margin-right: 7px;
            padding-right: 7px; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license.allow-data {
            width: 3.8em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license-detail > .data {
            width: 6em;
            font-size: 15px;
            text-shadow: none;
            line-height: 21px;
            border-radius: 2px;
            margin-top: 3px;
            margin-right: 7px;
            padding-right: 7px; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license-detail.allow-data {
            width: 5.5em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license > .data.wp, .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license-detail > .data.wp {
            background: black;
            color: white; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license > .data.a, .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license-detail > .data.a {
            background: #0153db;
            color: white; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license > .data.b, .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license-detail > .data.b {
            background: #00c702;
            color: black; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license > .data.c, .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license-detail > .data.c {
            background: #feec04;
            color: black; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license > .data.d, .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license-detail > .data.d {
            background: #fc8a27;
            color: black; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license > .data.r, .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-license-detail > .data.r {
            background: #fc0706;
            color: white; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-car-number > .data {
            line-height: 25px;
            height: 27px;
            font-family: var(--car-number-font);
            font-size: var(--car-number-font-size);
            color: var(--driver-number-color);
            padding-left: 4px;
            padding-right: 4px;
            margin-right: 6px;
            min-width: 33px;
            text-align: center;
            text-shadow: none; }
            .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-car-number > .data.outline-light {
              -webkit-text-stroke: 0.5px white; }
            .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-car-number > .data.outline-dark {
              -webkit-text-stroke: 0.5px black; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-car-number.allow-data {
            width: 4em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-last-pit-lap.allow-data {
            width: 4em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-last-pit-time.allow-data {
            width: 5.5em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-last-pit-lane-time.allow-data {
            width: 5.5em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-off-track-count.allow-data {
            width: 3em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.show-irating-gain.allow-data {
            width: 4em; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.personal-best-time > .data {
            color: lawngreen; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.overall-best-time.personal-best-time > .data {
            color: magenta; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.close > .data {
            color: gold; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.very-close > .data {
            color: darkorange; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.gain > .data {
            color: #2BF600; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.loss > .data {
            color: #F65B00; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .data-wrapper.same > .data {
            color: #DDDDDD; }
        .overlay > .standings > .driver-wrapper > .driver > .container > .last-lap-time-wrapper {
          display: inline-block;
          overflow: hidden;
          width: 0;
          height: 27px;
          text-align: right;
          padding: 0;
          transition: all 0.5s; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .last-lap-time-wrapper > .last-lap-time {
            overflow: hidden;
            width: 5em;
            float: right;
            line-height: 27px;
            padding-left: 10px;
            padding-right: 10px; }
        .overlay > .standings > .driver-wrapper > .driver > .container > .pit-wrapper {
          display: inline-block;
          overflow: hidden;
          width: 0;
          transition: all 0.5s; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .pit-wrapper > .pit {
            overflow: hidden;
            width: 4em;
            float: right;
            text-align: left;
            line-height: 27px;
            padding-left: 10px;
            padding-right: 10px;
            transition: color 0s ease-in-out 0.3s; }
        .overlay > .standings > .driver-wrapper > .driver > .container > .flag-wrapper-7x5 {
          display: inline-block;
          overflow: hidden;
          width: 0;
          transition: all 0.5s; }
          .overlay > .standings > .driver-wrapper > .driver > .container > .flag-wrapper-7x5 > .flag-7x5 {
            overflow: hidden;
            width: 33px;
            float: right;
            height: 27px;
            background: url(checkered7x5.png) !important;
            background-size: 100% 100% !important;
            background-repeat: no-repeat; }
    .overlay > .standings > .driver-wrapper.show-driver > .driver {
      transform: scale(1);
      transition: top 0.2s linear, transform 0.2s ease-in, opacity 0.2s ease-in;
      opacity: 1; }
      .overlay > .standings > .driver-wrapper.show-driver > .driver > .position-wrapper {
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        opacity: 1; }
      .overlay > .standings > .driver-wrapper.show-driver > .driver > .color-stripe {
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        opacity: 1; }
      .overlay > .standings > .driver-wrapper.show-driver > .driver > .container > .name-wrapper {
        transform: translateX(0);
        transition: width 0.2s ease-in-out, transform 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s;
        opacity: 1; }
      .overlay > .standings > .driver-wrapper.show-driver > .driver > .container > .data-wrapper {
        transform: translateX(0);
        transition: width 0.2s ease-in-out, transform 0.3s ease-in-out 0.1s, opacity 0.3s ease-in-out 0.1s;
        opacity: 1; }
    .overlay > .standings > .driver-wrapper.show-pit > .driver > .container > .pit-wrapper {
      width: 5em;
      margin-left: 2px;
      font-size: 14px; }
    .overlay > .standings > .driver-wrapper.show-out > .driver > .container > .pit-wrapper {
      width: 3em;
      margin-left: 2px;
      font-size: 14px; }
    .overlay > .standings > .driver-wrapper.show-lap-time > .driver > .container > .last-lap-time-wrapper {
      width: 5.5em; }
    .overlay > .standings > .driver-wrapper.show-flag-7x5 > .driver > .container > .flag-wrapper-7x5 {
      width: 2em;
      margin-left: 2px; }
    .overlay > .standings > .driver-wrapper.position-displays-selected-driver .driver > .position-wrapper {
      background-color: #00FF00 !important; }

.driver-details {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  white-space: nowrap;
  position: absolute;
  margin: 0 auto;
  left: 20px;
  bottom: 40px;
  transform: perspective(1000px) translateZ(200px);
  transform-origin: left bottom;
  transition: bottom 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.3s ease-in-out 0.8s;
  text-shadow: 0.3px 0.3px 0.3px #222, 0.3px -0.3px 0.3px #222, -0.3px 0.3px 0.3px #222, -0.3px -0.3px 0.3px #222; }
  .driver-details > .data-wrapper {
    position: relative; }
    .driver-details > .data-wrapper > .upper-data-wrapper {
      background: rgba(0, 0, 0, 0.6);
      border-left: 2px solid rgba(0, 0, 0, 0.5);
      border-right: 2px solid rgba(0, 0, 0, 0.5);
      border-top: 2px solid rgba(0, 0, 0, 0.5);
      border-bottom: 2px solid rgba(0, 0, 0, 0.5);
      background-clip: padding-box;
      color: white;
      font-family: BentonSans-Regular;
      font-size: 19px;
      height: 27px;
      transition: transform 0.3s ease-out, padding 0.3s ease 0.2s;
      overflow: hidden; }
      .driver-details > .data-wrapper > .upper-data-wrapper > .position-wrapper {
        transition: width 0.2s ease-in-out; }
        .driver-details > .data-wrapper > .upper-data-wrapper > .position-wrapper > .position {
          transition: transform 0.2s ease-out 0.3s; }
      .driver-details > .data-wrapper > .upper-data-wrapper > .color-stripe {
        transition: transform 0.2s ease-in-out; }
      .driver-details > .data-wrapper > .upper-data-wrapper > .container {
        overflow: hidden;
        height: 27px;
        margin-left: 0px;
        letter-spacing: 1px; }
        .driver-details > .data-wrapper > .upper-data-wrapper > .container > .name-wrapper {
          float: left; }
          .driver-details > .data-wrapper > .upper-data-wrapper > .container > .name-wrapper > .first-name {
            float: left;
            text-align: left;
            padding-left: 10px;
            vertical-align: middle;
            line-height: 29px;
            height: 27px;
            font-size: 18px;
            color: white; }
          .driver-details > .data-wrapper > .upper-data-wrapper > .container > .name-wrapper > .last-name {
            float: left;
            text-align: left;
            padding-left: 6px;
            padding-right: 6px;
            vertical-align: middle;
            line-height: 29px;
            height: 27px;
            font-family: BentonSans-Medium; }
          .driver-details > .data-wrapper > .upper-data-wrapper > .container > .name-wrapper > .suffix {
            float: left;
            text-align: left;
            padding-right: 6px;
            vertical-align: middle;
            line-height: 29px;
            height: 27px;
            font-size: 18px;
            color: white; }
        .driver-details > .data-wrapper > .upper-data-wrapper > .container > .number {
          float: right;
          text-align: left;
          vertical-align: middle;
          line-height: 25px;
          height: 27px;
          font-family: "Arial Black";
          font-size: 24px;
          padding-left: 4px;
          padding-right: 4px;
          margin-left: 6px;
          transition: transform 0.2s ease-out 0.3s;
          color: white;
          min-width: 33px;
          text-align: center;
          text-shadow: none; }
          .driver-details > .data-wrapper > .upper-data-wrapper > .container > .number.outline-light {
            -webkit-text-stroke: 0.5px white; }
          .driver-details > .data-wrapper > .upper-data-wrapper > .container > .number.outline-dark {
            -webkit-text-stroke: 0.5px black; }
        .driver-details > .data-wrapper > .upper-data-wrapper > .container > .flag {
          float: right;
          vertical-align: middle;
          line-height: 29px;
          height: 28px;
          width: 28px;
          background-size: cover;
          background-position: center;
          margin: 0px 6px 0px 6px;
          transition: transform 0.2s ease-out 0.4s; }
        .driver-details > .data-wrapper > .upper-data-wrapper > .container > .gain {
          float: right;
          overflow: hidden;
          text-align: left;
          vertical-align: middle;
          line-height: 29px;
          letter-spacing: -1px;
          font-family: BentonSans-Medium;
          padding: 0;
          width: 0;
          transition: all 0.2s ease-out 0.3s; }
    .driver-details > .data-wrapper > .middle-data-wrapper {
      position: relative;
      color: var(--text-color);
      font-family: var(--regular-font);
      font-size: var(--small-font-size);
      vertical-align: middle;
      height: 0;
      line-height: 23px;
      overflow: hidden;
      background: var(--panel-surface-background-color-light);
      transition: all 0.2s ease-out 0.3s, padding 0.3s ease 0.2s; }
      .driver-details > .data-wrapper > .middle-data-wrapper > .text {
        display: inline-block;
        overflow: hidden;
        padding-left: 64px;
        transition: all 0.2s ease-out 0.2s; }
    .driver-details > .data-wrapper > .lower-data-wrapper {
      position: relative;
      color: white;
      font-family: BentonSans-Regular;
      font-size: 16px;
      vertical-align: middle;
      height: 0;
      line-height: 23px;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.3);
      transition: all 0.2s ease-out 0.3s, padding 0.3s ease 0.2s; }
      .driver-details > .data-wrapper > .lower-data-wrapper > .text1 {
        display: inline-block;
        overflow: hidden;
        padding-left: 20px;
        font-size: 12px;
        font-family: BentonSans-Medium;
        letter-spacing: 1px;
        transition: all 0.2s ease-out 0.2s; }
      .driver-details > .data-wrapper > .lower-data-wrapper > .data1 {
        display: inline-block;
        overflow: hidden;
        padding-left: 10px;
        font-size: var(--very-small-font-size);
        font-family: var(--medium-font);
        transition: all 0.2s ease-out 0.1s; }
      .driver-details > .data-wrapper > .lower-data-wrapper > .text2 {
        display: inline-block;
        overflow: hidden;
        padding-left: 20px;
        font-family: BentonSans-Medium;
        font-size: 12px;
        letter-spacing: 1px;
        transition: all 0.2s ease-out; }
      .driver-details > .data-wrapper > .lower-data-wrapper > .data2 {
        display: inline-block;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 20px;
        font-size: 14px;
        font-family: BentonSans-Medium;
        transition: all 0.2s ease-out 0.1s; }
    .driver-details > .data-wrapper > .photo-wrapper {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 120px;
      height: 120px;
      overflow: hidden; }
      .driver-details > .data-wrapper > .photo-wrapper > .photo {
        display: block;
        float: right;
        width: 120px;
        height: 120px;
        border-radius: 10px 10px 0 0;
        background: transparent;
        object-fit: cover;
        clip-path: inset(0px);
        margin: 0px auto;
        opacity: 0;
        transition: opacity 0.3s ease; }
  .driver-details.hide > .data-wrapper > .upper-data-wrapper {
    transform: translateX(-800px);
    transition: transform 0.3s ease-in 0.2s; }
  .driver-details.photo > .data-wrapper > .upper-data-wrapper {
    padding-right: 120px;
    transition: transform 0.3s ease-out, padding 0.3s ease; }
  .driver-details.photo > .data-wrapper > .middle-data-wrapper {
    padding-right: 120px;
    transition: all 0.2s ease-out 0.3s, padding 0.3s ease; }
  .driver-details.photo > .data-wrapper > .lower-data-wrapper {
    padding-right: 120px;
    transition: all 0.2s ease-out 0.3s, padding 0.3s ease; }
  .driver-details.photo > .data-wrapper > .photo-wrapper > .photo {
    opacity: 1;
    transition: opacity 0.3s ease 0.2s; }
  .driver-details.lap-times > .data-wrapper > .lower-data-wrapper {
    height: 23px; }
  .driver-details.lap-times:not(.remove-gain) > .data-wrapper > .upper-data-wrapper > .container > .gain {
    float: right;
    padding-right: 10px;
    padding-left: 6px;
    width: auto; }
  .driver-details.lap-times.gain > .data-wrapper > .upper-data-wrapper > .container > .gain {
    color: #2BF600; }
  .driver-details.lap-times.loss > .data-wrapper > .upper-data-wrapper > .container > .gain {
    color: #F65B00; }
  .driver-details.lap-times.same > .data-wrapper > .upper-data-wrapper > .container > .gain {
    color: #DDDDDD; }

.twitch {
  position: absolute;
  bottom: 50px; }
  .twitch > .message-wrapper {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0; }

.position-wrapper {
  float: left;
  overflow: hidden;
  width: 45px;
  height: 27px;
  background: #707070;
  clip-path: polygon(0px 0px, 44px 0px, 28px 28px, 0px 28px); }
  .position-wrapper > .position {
    text-align: center;
    vertical-align: middle;
    line-height: 29px;
    width: 34px;
    letter-spacing: -1px;
    font-family: BentonSans-Medium;
    color: white;
    text-shadow: 0.3px 0.3px 0.3px #222, 0.3px -0.3px 0.3px #222, -0.3px 0.3px 0.3px #222, -0.3px -0.3px 0.3px #222; }

.color-stripe {
  float: left;
  overflow: hidden;
  width: 7px;
  height: 27px;
  background: transparent;
  transform: skewX(-30deg) translateX(-7px); }

.driver-background,
.multicar-team-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32); }

.odd .driver-background,
.odd .multicar-team-background {
  clip-path: polygon(0px 0px, 55px 0px, 39px 28px, 0px 28px); }

.overlay {
  margin: 0;
  overflow: hidden;
  opacity: 1; }
