$replay-state-background-color: rgba(40, 40, 40, 0.75);
$header-title-background-color: rgba(0, 0, 0, 0.7);
$panel-background-color: rgba(0, 0, 0, 0.6);
$panel-surface-background-color: rgba(0, 0, 0, 0.5);
$panel-surface-background-color-light: rgba(0, 0, 0, 0.3);
$panel-title-background-color-darker: rgba(0, 0, 0, 0.2);
$pit-lane-background-color: rgba(0, 0, 0, 0.75);
$driver-background-color: rgba(0, 0, 0, 0.4);
$driver-background-color-darker: rgba(0, 0, 0, 0.32);
$driver-selected-color: #00FF00;
$driver-offtrack-color: #FF0000;
$driver-dimmed-color: #C0C0C0;
$driver-lapped-color: #00c0ff;
$driver-lapping-color: #fe5050;
$driver-first-name-color: white;
$driver-close-color: gold;
$driver-very-close-color: darkorange;
$driver-gain-color: #2BF600;
$driver-loss-color: #F65B00;
$driver-same-color: #DDDDDD;
$driver-personal-best-time-color: lawngreen;
$driver-overall-best-time-color: magenta;
$driver-personal-best-sector-color: lawngreen;
$driver-overall-best-sector-color: magenta;
$driver-completed-sector-color: gold;
$driver-current-sector-color: black;
$driver-out-lap-color: #00c0ff;
$driver-pit-lane-color: #F64040;
$driver-pit-exit-color: limegreen;
$driver-pit-stop-color: #F64040;
$driver-number-color: white;
$driver-number-outline-color: white;
$driver-number-outline-dark: black;
$driver-number-outline-light: white;
$driver-position-background-color: #707070;
$driver-position-text-color: white;
$driver-position-text-shadow: 0.3px 0.3px 0.3px #222, 0.3px -0.3px 0.3px #222, -0.3px 0.3px 0.3px #222, -0.3px -0.3px 0.3px #222;
$text-color: white;
$text-shadow: 0.3px 0.3px 0.3px #222, 0.3px -0.3px 0.3px #222, -0.3px 0.3px 0.3px #222, -0.3px -0.3px 0.3px #222;
$fat-text-shadow: 0.6px 0.6px 0.6px #222, 0.6px -0.6px 0.6px #222, -0.6px 0.6px 0.6px #222, -0.6px -0.6px 0.6px #222;
$track-shadow: rgba(0, 0, 0, 0.33);
$grid-border-color: white;
$window-header-background-color: rgba(0, 0, 0, 0.7);
$window-header-background-color-penalty: rgba(150, 0, 0, 0.7);
$window-header-text-color: #52E4D9;
$window-header-text-color-penalty: white;
$window-header-border-color: rgba(0, 0, 0, 0.5);
$regular-font: BentonSans-Regular;
$medium-font: BentonSans-Medium;
$car-number-font: 'Arial Black';
$normal-font-size: 19px;
$smaller-font-size: 18px;
$small-font-size: 16px;
$very-small-font-size: 14px;
$extra-small-font-size: 12px;
$car-number-font-size: 24px;
$class-header-font: 'Arial Black';
$class-header-font-size: 26px;
$pit-lane-brackets-font-size: 26px;
$title-font-size: 28px;
$subtitle-font-size: 22px;
$subheader-font-size: 22px;
$footer-font-size: 28px;
$panel-header-font-size: 20px;
$grid-banner-font-size: 30px;
$grid-banner-font: 'Arial Black';
$header-logo: url(images/SDK-Gaming-logo.png);
$header-logo-filter: none;
$left-footer-logo: url(images/SDK-Gaming-logo.png);
$left-footer-logo-filter: invert(100%);
$right-footer-logo: url(images/SDK-Gaming-logo.png);
$right-footer-logo-filter: none;
