@namespace iRacingTimings.Shared.Components.Overlay
@inherits StandingsBase
<div id="standings" class="@ClassMapper.AsString()" style="@StyleMapper.AsString()">
    @foreach (var driver in iRacing.Drivers)
    {
        <Driver Item="@driver"></Driver>
    }
</div>