@namespace BlazorDesktop.Components

@inherits MenuBarButtonBase

<CascadingValue Value="@this">
    <div class="menu-bar-button @GetClass()" @onclick="OnClickHandler">
        @ChildContent
    </div>
</CascadingValue>
