@using iRacingBlazor.Models
<div id="standings" class="standings">


	@foreach (var driver in Drivers)
	{
	<div class="@CssClass("driver-wrapper", new { PositionDisplaysSelectedDriver = driver.Selected,  AllowDriver = driver.Allow, ShowDriver = driver.Show, Odd = driver.Position % 2 > 0, Even = driver.Position % 2 == 0 }) " style="@GetStyle(driver)">
		<div id="driver" class="driver">
			<div id="driverBackground" class="driver-background"></div>
			<div id="positionWrapper" class="position-wrapper">
				<div id="position" class="position">@driver.Position</div>
			</div>
			<div id="colorStripe" class="color-stripe"></div>
			<div id="container" class="container">
				<div id="nameWrapper" class="name-wrapper" style="width: 175px;">
					<div id="name" class="name" style="transform: scaleX(1);">@driver.Name</div>
				</div>
				<div id="dataWrapper1" class="data-wrapper show-car-logo allow-data">
					<div id="data2" class="data2"></div>
					<div id="data" class="data"></div>
					<div id="carLogo" class="car-logo"
							 style="background-image: url(cars/mx5-mx52016.png);"></div>
				</div>
				<div id="dataWrapper2" class="data-wrapper show-flag allow-data">
					<div id="data2" class="data2"></div>
					<div id="data" class="data"></div>
					<div id="flag" class="flag" style="background-image: url(flags/empty.png);">
					</div>
				</div>
				<div id="dataWrapper3" class="data-wrapper show-gap allow-data">
					<div id="data2" class="data2"></div>
					<div id="data" class="data">+−.−−−</div>
					<div id="joker" class="joker"></div>
				</div>
				<div id="dataWrapper4" class="data-wrapper allow-data">
					<div id="data2" class="data2"></div>
					<div id="data" class="data"></div>
				</div>
				<div id="dataWrapper5" class="data-wrapper allow-data">
					<div id="data2" class="data2"></div>
					<div id="data" class="data"></div>
				</div>
				<div id="dataWrapper6" class="data-wrapper allow-data">
					<div id="data2" class="data2"></div>
					<div id="data" class="data"></div>
				</div>
				<div id="dataWrapper7" class="data-wrapper allow-data">
					<div id="data2" class="data2"></div>
					<div id="data" class="data"></div>
				</div>
				<div id="dataWrapper8" class="data-wrapper allow-data">
					<div id="data2" class="data2"></div>
					<div id="data" class="data"></div>
				</div>
				<div id="lastLapTimeWrapper" class="last-lap-time-wrapper">
					<div id="lastLapTime" class="last-lap-time"></div>
				</div>
				<div id="flagWrapper7x5" class="flag-wrapper-7x5">
					<div id="flag7x5" class="flag-7x5"></div>
				</div>
				<div id="pitWrapper" class="pit-wrapper">
					<div id="pit" class="pit"></div>
				</div>
			</div>
		</div>
	</div>
	}
</div>

@code {

		[Parameter]
		public List<DriverModel> Drivers { get; set; }


		string GetStyle(DriverModel driver)
		{
			return $"transform: TranslateY({driver.Position * 28}px);";
		}
}
