.menu-bar {
    display: flex;
    flex-shrink: 1;
    box-sizing: border-box;
    height: 30px;
    overflow: hidden;
    flex-wrap: wrap;
    color: $forecolor;
    font: 12px/32px "Segoe UI", Arial, sans-serif;

    > .menu-bar-button {
        color: rgba(204, 204, 204, 0.6);
        align-items: center;
        box-sizing: border-box;
        padding: 0 8px;
        cursor: default;
        -webkit-app-region: no-drag;
        zoom: 1;
        white-space: nowrap;
        outline: 0;
        line-height: 30px;


        &:hover {
            background-color: rgba(255,255,255,.1);
            color: #cccccc;
        }

        &.open {

        }
    }
}
