@using ElectronNET.API
@using ElectronNET.API.Entities

    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

@code
{
    [Inject]
    public ThemeProvider ThemeProvider { get; set; }

    protected override void OnInitialized()
    {
        ThemeProvider.UpdateTheme(new DefaultPaletteDark());    

        var menu = new MenuItem[] {
            new MenuItem 
            { 
                Label = "Create Contact", 
                Click = () => Electron
                    .WindowManager
                    .BrowserWindows
                    .First()
                    .LoadURL($"http://localhost:{BridgeSettings.WebPort}/Contacts/Create")
            },
            new MenuItem 
            { 
                Label = "Remove", 
                Click = () => Electron.Tray.Destroy()
            }
        };
        Electron.Tray.Show("/Assets/appstore.png", menu);
        base.OnInitialized();
    }
}
