@namespace iRacingTimings.Shared.Components.Overlay
@inherits FlagBase

<div id="@Id" class="@ClassMapper.AsString()" style="@StyleMapper.AsString()">
    <div id="flag1" class="@InnerClassMapper.AsString()"></div>
</div>