@page "/"
@using iRacingTimings.Data
@using iRacingSDK

@inject TimingsService TimingsService;

<h1>Hello, world!</h1>

<ul>
    @foreach (var driver in TimingsService.Timings)
    {
        <li>@driver.DriverName</li>
        <li>@driver.LastLap.Seconds().ToString(@"mm\:ss\.fff")</li>                              
        <li>@driver.DistDegree</li>
    }
</ul>

@code
{
    private readonly iRacingEvents _events = new iRacingEvents();
    private bool isConnected;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _events.NewData += Update;
        _events.NewSessionData += UpdateSession;
        _events.Connected += Connected;

        _events.StartListening();
    }

    private void Connected()
    {
        isConnected = true;
    }

    private void UpdateSession(DataSample data)
    {
        if (isConnected)
        {
            TimingsService.SetDataFromSession(data, true);
            StateHasChanged();
        }
    }

    private void Update(DataSample dataSample)
    {
        if (isConnected)
        {
            TimingsService.Update(dataSample);
            StateHasChanged();
        }
    }
}
