@page "/"

@{
}
<table>
@foreach (var driver in iRacing.Drivers.DriversOnly().OrderBy(x=>x.Live.Position))
{
    <tr>
        <td>
            @driver.Live.Position
        </td>
        <td>
            @driver.Name
        </td>
    </tr>
    
}
</table>

<ul>
   <BFUDefaultButton OnClick="Click"> Click </BFUDefaultButton>
</ul>

@code
{

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void Click(MouseEventArgs obj)
    {
        iRacing.Replay.MoveToStart();
    }
}
